<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatsApp</title>
    <link rel="icon" type="image/png" href="../images/chatsapp.png">
    <link rel="stylesheet" href="../css/chatbox.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
</head>
<body>
<div class="main-container flex h-screen w-full" style="background: rgba(0,0,0,.6);backdrop-filter: blur(1px);">
    <%- include('components/sidebar', { users, groups }) %>
    <%- include('components/chatbox', { receiverUser, senderUser }) %>
</div>
<script>
    socket.on("connect", () => {
        console.log("Connected to server");
    });

    socket.on("disconnect", () => {
        console.log("Disconnected from server");
    });
</script>
<%- include('partials/footer') %>